version: '3.8' 

services:
  

  app:
    build: ./app
    container_name: tablero-app
    ports:
      - "3000:3000" 
    environment:
     
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=mi_contraseña_secreta
      - DB_NAME=indicadores_db
    depends_on:
     
      db:
        condition: service_healthy
    networks:
      - mi-red-tablero

  
  db:
    image: mysql:8.0
    container_name: tablero-db
    environment:
      
      - MYSQL_ROOT_PASSWORD=mi_contraseña_secreta 
      - MYSQL_DATABASE=indicadores_db           
    ports:
      - "3306:3306" 
    volumes:
      - mysql-data:/var/lib/mysql 
    networks:
      - mi-red-tablero
    
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-pmi_contraseña_secreta"]
      interval: 5s   
      timeout: 5s    
      retries: 20  


networks:
  mi-red-tablero:
    driver: bridge


volumes:
  mysql-data: